
<!-- views/partials/header.ejs -->


 
    



<nav class="navbar navbar-expand navbar-dark bg-dark">

    
    <ul class="navbar-nav">
        

       <li class="nav-item active">
        <a class="nav-link text-danger" href="/"><h4>Home</h4> </a>
      </li> 

      <li class="nav-item active">
        <a class="nav-link text-danger" href="/contact"><h4>Contacts</h4> </a>
      </li> 

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> <h4>Modules</h4> </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/module/1"> Module 1 </a>
                <a class="dropdown-item" href="/module/2"> Module 2 </a>
                <a class="dropdown-item" href="/module/3"> Module 3 </a>
                <a class="dropdown-item" href="/module/4"> Module 4 </a>
                <a class="dropdown-item" href="/module/5"> Module 5 </a>
                <a class="dropdown-item" href="/module/6"> Module 6 </a>
                <a class="dropdown-item" href="/modules"> Controle </a>
            </div>
        </li>

        <li class="nav-item active">
            <div><a class="nav-link" href="/"><h4>About</h4> </a></div>
        </li> 

    </ul>

</nav>