<!DOCTYPE html>




<div class="container pt-3 bg-light">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th><h3>Module 1</h3></th>
                    <td > <% if(mod1 == 1){ %> <h4>Activé</h4> <% }else{ %> <h4>Désactivé</h4> <% } %> </td>
                    <td><a href="/btn/1" class="btn btn-info" role="button">O/I</a></td>

                </tr>
                <tr>
                    <th><h3>Module2</h3></th>
                    <td > <% if(mod2 == 1){ %> <h4>Activé</h4> <% }else{ %> <h4>Désactivé</h4> <% } %> </td>
                    <td><a href="/btn/2" class="btn btn-info" role="button">O/I</a></td>

                </tr>
                <tr>
                    <th><h3>Module3</h3></th>
                    <td> <% if(mod3 == 1){ %> <h4>Activé</h4> <% }else{ %> <h4>Désactivé</h4> <% } %> </td>
                    <td><a href="/btn/3" class="btn btn-info" role="button">O/I</a></td>
                </tr>
                <tr>
                    <th><h3>Module4</h3></th>
                    <td> <% if(mod4 == 1){ %> <h4>Activé</h4> <% }else{ %> <h4>Désactivé</h4> <% } %> </td>
                    <td><a href="/btn/4" class="btn btn-info" role="button">O/I</a></td>
                </tr>
                <tr>
                    <th><h3>Module5</h3></th>
                    <td> <% if(mod5 == 1){ %> <h4>Activé</h4> <% }else{ %> <h4>Désactivé</h4> <% } %> </td>
                    <td><a href="/btn/5" class="btn btn-info" role="button">O/I</a></td>
                </tr>
                <tr>
                    <th><h3>Module6</h3></th>
                    <td> <% if(mod6 == 1){ %> <h4>Activé</h4> <% }else{ %> <h4>Désactivé</h4> <% } %> </td>
                    <td><a href="/btn/6" class="btn btn-info" role="button">O/I</a></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-right"><a href="/Reset" class="btn btn-danger text-dark " role="button">Reset</a></div>