



<div class="container pt-3 bg-light">
    <div class="table-responsive">
        <table class="table ">
            <tbody>
                <tr>
                    <th>Nom:</th>
                    <td>Renaud</td>
                    <td>Martin</td>
                    <td>Crosby</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Prénom:</th>
                    <td>Cédric</td>
                    <td>Frederick</td>
                    <td>Sidney</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Numéros de téléphone:</th>
                    <td>(438) 438-4384</td>
                    <td>(514) 514-5141</td>
                    <td>(450) 450-4504</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Courriel:</th>
                    <td><a href="cren@msn.fr">cren@msn.fr</a> </td>
                    <td><a href="fmar@gmail.ca">fmar@gmail.ca</a></td>
                    <td><a href="sydCrosby@aol.com">sydCrosby@aol.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>