<!DOCTYPE html>

<!-- views/pages/pageContact.ejs -->

<html lang="fr">

<head>

    <%- include('../partials/head') %>

</head>

<body class="container">

    <header>

        <%- include('../partials/header') %>

    </header>


    <main>

        <div class="jumbotron">

            <h2><strong>Contacts</strong></h2>

            <p>
                <%- include('../partials/tableau') %>
            </p>

        </div>

    </main>

    
    <footer>

        <%- include('../partials/footer') %>

    </footer>

</body>

</html>